# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Git
.git/
.gitignore

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/